.vs/SmzdmBot
/WebBrowser/bin
/WebBrowser/obj
/SmzdmBotShared/bin
/SmzdmBotShared/obj
/SmzdmExcelAddin/SmzdmExcelAddin/bin
/SmzdmExcelAddin/SmzdmExcelAddin/obj
.vs/SmzdmBot/DesignTimeBuild/.dtbcache
.vs/SmzdmBot/v15/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/SmzdmBot/DesignTimeBuild/.dtbcache
.vs/SmzdmBot/v15/.suo
*.ide
*.ide-shm
*.ide-wal
.vs/SmzdmBot/DesignTimeBuild/.dtbcache
.vs/SmzdmBot/v15/.suo
SmzdmExcelAddin/.vs/SmzdmExcelAddin/v15/.suo
SmzdmExcelAddin/.vs/SmzdmExcelAddin/v15/Server/sqlite3/db.lock
WebBrowser/smzdm.xlsx
*.xlsx
