<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus" version="4.5.3.2" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.11.16" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Selenium.Firefox.WebDriver" version="0.24.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net461" />
</packages>